@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:700|Poppins:500|Outfit:600");

:root {
    --x-6: rgba(255, 255, 255, 1);
    --yellow-1: rgba(250, 191, 98, 1);
    --secondary-white: rgba(255, 255, 255, 1);
    --blue-600: rgba(9, 114, 211, 1);
    --text-color-80-opacity: rgba(34, 34, 34, 0.9);
    --grey-300: rgba(209, 213, 219, 1);
    --white: rgba(255, 255, 255, 1);
    --dividers-and-borders-grey-light: rgba(206, 206, 206, 1);
    --blue-400: rgba(137, 189, 238, 1);
    --inactive-state-color: rgba(73, 69, 79, 0.8);
    --green-600: rgba(3, 127, 12, 1);
    --grey-150: rgba(244, 244, 244, 1);
    --red-600: rgba(217, 21, 21, 1);
    --menu-regular-16px-font-family: "Outfit-Regular", Helvetica;
    --menu-regular-16px-font-weight: 400;
    --menu-regular-16px-font-size: 16px;
    --menu-regular-16px-letter-spacing: 0.16px;
    --menu-regular-16px-line-height: normal;
    --menu-regular-16px-font-style: normal;
}

.frame {
    position: relative;
    width: 1098px;
    height: 708px;
    background-color: var(--secondary-white);
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    border: 1px solid;
    border-color: #ebebee;
}

.frame .buy-wrapper {
    display: flex;
    width: 1095px;
    align-items: flex-start;
    position: absolute;
    top: 2px;
    left: 1px;
}

.frame .buy {
    display: flex;
    flex-direction: column;
    width: 1095px;
    align-items: flex-start;
    position: relative;
}

.frame .element {
    display: flex;
    align-items: center;
    padding: 18px 50px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--blue-600);
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
}

.frame .group {
    position: absolute;
    width: 16px;
    height: 18px;
    top: 17px;
    left: 31px;
}

.frame .img {
    position: absolute;
    width: 35px;
    height: 39px;
    top: 14px;
    left: 1035px;
}

.frame .group-2 {
    position: absolute;
    width: 18px;
    height: 17px;
    top: 41px;
    left: 1031px;
}

.frame .group-3 {
    position: absolute;
    width: 14px;
    height: 12px;
    top: 14px;
    left: 1059px;
}

.frame .group-4 {
    position: absolute;
    width: 11px;
    height: 12px;
    top: 49px;
    left: 317px;
}

.frame .div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.frame .div-2 {
    display: inline-flex;
    align-items: center;
    gap: 13px;
    position: relative;
    flex: 0 0 auto;
}

.frame .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--x-6);
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .group-5 {
    position: absolute;
    width: 13px;
    height: 13px;
    top: -6px;
    left: -4px;
}

.frame .div-3 {
    display: flex;
    flex-direction: column;
    width: 1095px;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.frame .div-4 {
    display: flex;
    width: 1059px;
    height: 60px;
    align-items: center;
    gap: 12px;
    position: relative;
}

.frame .frame-wrapper {
    position: relative;
    width: 128px;
    height: 35px;
}

.frame .div-wrapper {
    position: relative;
    height: 35px;
    background-color: var(--secondary-white);
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--blue-600);
}

.frame .text-wrapper-2 {
    position: absolute;
    top: 4px;
    left: 53px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--text-color-80-opacity);
    font-size: 17px;
    letter-spacing: 0.17px;
    line-height: normal;
}

.frame .div-wrapper-2 {
    position: relative;
    height: 35px;
    background-color: var(--secondary-white);
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--grey-300);
}

.frame .text-wrapper-3 {
    position: absolute;
    top: 4px;
    left: 15px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--text-color-80-opacity);
    font-size: 17px;
    letter-spacing: 0.17px;
    line-height: normal;
}

.frame .text-wrapper-4 {
    position: absolute;
    top: 4px;
    left: 28px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--text-color-80-opacity);
    font-size: 17px;
    letter-spacing: 0.17px;
    line-height: normal;
}

.frame .frame-wrapper-2 {
    display: flex;
    flex-direction: column;
    width: 1098px;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -1.5px;
    margin-right: -1.5px;
    background-color: var(--blue-400);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--dividers-and-borders-grey-light);
}

.frame .frame-wrapper-3 {
    display: flex;
    width: 1098px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.frame .div-5 {
    display: flex;
    width: 1098px;
    align-items: flex-start;
    gap: 2px;
    position: relative;
}

.frame .div-6 {
    position: relative;
    width: 135px;
    height: 56px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--dividers-and-borders-grey-light);
}

.frame .text-wrapper-5 {
    width: 92px;
    left: 23px;
    color: var(--white);
    position: absolute;
    height: 52px;
    top: -1px;
    font-family: var(--menu-regular-16px-font-family);
    font-weight: var(--menu-regular-16px-font-weight);
    font-size: var(--menu-regular-16px-font-size);
    text-align: center;
    letter-spacing: var(--menu-regular-16px-letter-spacing);
    line-height: var(--menu-regular-16px-line-height);
    font-style: var(--menu-regular-16px-font-style);
}

.frame .text-wrapper-6 {
    width: 78px;
    left: 32px;
    color: var(--white);
    position: absolute;
    height: 52px;
    top: -1px;
    font-family: var(--menu-regular-16px-font-family);
    font-weight: var(--menu-regular-16px-font-weight);
    font-size: var(--menu-regular-16px-font-size);
    text-align: center;
    letter-spacing: var(--menu-regular-16px-letter-spacing);
    line-height: var(--menu-regular-16px-line-height);
    font-style: var(--menu-regular-16px-font-style);
}

.frame .frame-wrapper-4 {
    display: flex;
    flex-direction: column;
    width: 1098px;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -1.5px;
    margin-right: -1.5px;
    background-color: var(--white);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--dividers-and-borders-grey-light);
}

.frame .text-wrapper-7 {
    width: 92px;
    left: 23px;
    color: var(--inactive-state-color);
    position: absolute;
    height: 52px;
    top: -1px;
    font-family: var(--menu-regular-16px-font-family);
    font-weight: var(--menu-regular-16px-font-weight);
    font-size: var(--menu-regular-16px-font-size);
    text-align: center;
    letter-spacing: var(--menu-regular-16px-letter-spacing);
    line-height: var(--menu-regular-16px-line-height);
    font-style: var(--menu-regular-16px-font-style);
}

.frame .text-wrapper-8 {
    position: absolute;
    width: 78px;
    height: 52px;
    top: -1px;
    left: 32px;
    font-family: var(--menu-regular-16px-font-family);
    font-weight: var(--menu-regular-16px-font-weight);
    color: var(--inactive-state-color);
    font-size: var(--menu-regular-16px-font-size);
    text-align: center;
    letter-spacing: var(--menu-regular-16px-letter-spacing);
    line-height: var(--menu-regular-16px-line-height);
    font-style: var(--menu-regular-16px-font-style);
}

.frame .text-wrapper-9 {
    position: absolute;
    width: 92px;
    height: 52px;
    top: -1px;
    left: 23px;
    font-family: "Outfit-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--green-600);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.16px;
    line-height: normal;
}

.frame .frame-wrapper-5 {
    display: flex;
    flex-direction: column;
    width: 1098px;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -1.5px;
    margin-right: -1.5px;
    background-color: var(--grey-150);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--dividers-and-borders-grey-light);
}

.frame .text-wrapper-10 {
    position: absolute;
    width: 92px;
    height: 52px;
    top: -1px;
    left: 23px;
    font-family: "Outfit-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--yellow-1);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.16px;
    line-height: normal;
}

.frame .text-wrapper-11 {
    position: absolute;
    width: 92px;
    height: 52px;
    top: -1px;
    left: 23px;
    font-family: "Outfit-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--red-600);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.16px;
    line-height: normal;
}

.frame .pagination {
    position: absolute;
    width: 183px;
    height: 24px;
    top: 646px;
    left: 813px;
}

.frame .overlap-group {
    position: absolute;
    width: 43px;
    height: 24px;
    top: 0;
    left: 140px;
}

.frame .bold-arrows-alt {
    left: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
}

.frame .bold-arrows-alt-2 {
    left: 19px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
}

.frame .of-pages {
    position: absolute;
    top: -1px;
    left: 45px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #333333cc;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .pagination-button {
    width: 40px;
    top: 0;
    left: 0;
    background-color: #dedede;
    border-radius: 3.79px;
    position: absolute;
    height: 24px;
}

.frame .text-wrapper-12 {
    width: 6px;
    height: 24px;
    left: 6px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #333333cc;
    font-size: 15.2px;
    letter-spacing: 0;
    position: absolute;
    top: -1px;
    line-height: normal;
}

.frame .bold-arrows-alt-3 {
    left: 18px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
}

.frame .pagination-2 {
    width: 183px;
    top: 646px;
    left: 87px;
    position: absolute;
    height: 24px;
}

.frame .per-page {
    position: absolute;
    top: -1px;
    left: 53px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #333333cc;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .pagination-button-2 {
    position: absolute;
    width: 48px;
    height: 24px;
    top: 0;
    left: 0;
    background-color: #dedede;
    border-radius: 3.79px;
}

.frame .text-wrapper-13 {
    width: 16px;
    height: 24px;
    left: 6px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #333333cc;
    font-size: 15.2px;
    letter-spacing: 0;
    position: absolute;
    top: -1px;
    line-height: normal;
}

.frame .bold-arrows-alt-4 {
    left: 28px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
}
